@import "../../constants.scss";

.root {
  margin: 0 auto;
  padding: 12px 0;
  max-width: $mainMaxWidth;
  background: #fff;
  border-radius: $borderRadius;
}
.count {
  margin: 0 $mainPaddingLeft 12px $mainPaddingLeft;
  @include _font(NotoSans, 14px, 22px, normal, 600);
}
